@import './variables.scss';

$avatar-size: $px40;

.room {
    transform-origin: center top;  
    &__error {
        color: rgb(223, 85, 85);
        font-weight: 400;
        margin-bottom: $px20;
    }
    &__game-info {
        display: grid;
        place-items: center;
        row-gap: $px20;
        grid-template-rows: $px14 $px20 $px50 $px20;
        margin: $px20 0;
        padding: $px30 $px10;
        background: $card-bg;
        border-radius: $border-radius;
    }
    &__map{
        font-size: $px30;
        color: $secondary-color;
    }
    &__region {
        display: flex;
        align-items: center;
        font-size: $px16;
        color: $secondary-color;
        img {
            margin-left: $px10;
            width: $px40;
        }
    }
    &__endtime {
        font-size: $px20;
        color: $secondary-color;
    }
    &__btn {
        margin-bottom: $px20;
        color: $card-bg;
    }
    &__score {
        font-size: $px50;
        font-weight: 700;
        &-half {
            margin-left: $px30;
        }
        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $px14;
        }
    }
    &__team {
        &-header {
            display: flex;
            justify-content: space-between;
        }
        &-name {
            margin: $px20 0;
            font-size: $px25;
            font-weight: 700;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            background: $card-bg;
            border-radius: $border-radius;
            padding: 0 $px20 $px20 $px20;
            &:nth-of-type(2) {
                margin-bottom: $px20;
            }
        }
        &-1,
        &-2 {
            display: flex;
            flex-direction: column;
        }
        &-winner .player-wrapper {
            background: $winner-match-bg;
        }
        &-loser .player-wrapper {
            background: $loser-match-bg;
        }
    }
}

.player {
    &-wrapper {
        display: grid;
        place-items: center;
        grid-template-columns: $px60 4fr 1fr 2fr repeat(3, 1fr) repeat(3, 2fr) repeat(4, 1fr);
        background: #5d47ac;
        font-size: 1.125rem;
        height: $px50;
        padding: 0 $px5;
        border-radius: $px25;
        margin-bottom: $px10;
        &:hover {
            cursor: pointer;
        }
    }
    &-captions {
        background: none;
        height: $px20;
        font-size: $px14;
        color: $secondary-color;
        &__header {
            text-align: center;
        }
    }
    &__avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        background: #333;
        &:not([src]) {
            content: '';
        }
    }
    &__info {
        div {
            margin-bottom: $px5;
        }
    }
    &__js-start {
        justify-self: start;
    }
}