@import './variables.scss';

.footer {
    display: grid;
    place-items: center;
    font-size: $px20;
    margin-bottom: $px30;
    a, a:hover, a:visited, a:focus {
        color: $main-bg-color;
        text-decoration: underline;
    }
}