@import './variables.scss';

.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 30px;
    border-bottom: 1px solid $header-border-color;
    h1 {
        position: relative;
        letter-spacing: .02em;
        font-weight: 400;
        border-radius: $border-radius;
        display: grid;
        &::after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 100%;
            height: 1px;
            background-image: $logo-gradient;
        }
        @media (max-width: 670px) {
            font-size: 30px;
        }
        @media (max-width: 500px) {
            font-size: 20px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95vw;
        margin: 0 auto;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    a, a:visited, a:active {
        color: $white;
        text-decoration: none;
        text-transform: lowercase;
        font-weight: 300;
        font-size: 20px;
        margin-right: 40px;
        letter-spacing: .02em;
        @media (max-width: 500px) {
            margin-right: 10px;
        }
    }
}
