@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import './variables.scss';

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: $main-bg-color;
    color: $white;
    overflow-x: hidden;
    @media (max-width: 1024px) {
        font-size: 1.48vw;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, a:visited, a:active {
    color: $white;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.container {
    width: 64rem;
    margin: 0 auto;
    border-radius: $px40;
    background: #2c2f33;
    padding: $px40 $px40;
    min-height: 80vh;
}

.btn {
    display: grid;
    place-items: center;
    transition: background .2s;
    height: $px30;
    padding: 0 $px15;
    border-radius: $border-radius;
    background: #fff;
    font-size: $px20;
    font-weight: 300;
    border: none;
    -webkit-tap-highlight-color: transparent;
    &:focus,
    &:active {
        outline: none;
        color: $card-bg;
    }
    &:hover {
        cursor: pointer;
    }
}

.main {
    padding-top: $px30;
    padding-bottom: $px30;
    &__nav {
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: $px30;
        }
        &-label {
            color: $secondary-color;
            margin-right: $px5;
        }
        &-buttons {
            display: flex;
        }
        &-btn {
            line-height: 1;
            padding: 0 $px15;
            background: rgb(139, 139, 139);
            margin-right: $px10;
            :disabled:active,
            :disabled:focus {
                color: $black;
            }
            &:hover {
                background: rgb(196, 196, 196);
            }
            &_active {
                background: $white;
            }

        }
    }
    &__select {
        height: $px30;
    }  
    &__container {      
        display: flex;
        flex-direction: column;
    }
    &__info-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
}

.player {
    &-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: $px20;
        column-gap: $px20;
        justify-items: center;
        justify-content: center;
        margin-bottom: $px30;
    }
    &-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 18.75rem;
        background: $card-bg;
        padding: $px20;
        border-radius: $border-radius;
        &__nickname {
            font-size: 2.25rem;
            font-weight: 700;
            margin-bottom: $px30;
            width: 100%;
            text-align: center;
        }
        &__bg {
            position: absolute;
            top: 0;
            left: 50%;
            color: transparent;
            transform: translate(-50%, 4.6875rem);
            width: 13.4375rem;
            height: 13.4375rem;           
            border-radius: 100%;
            z-index: 2;
            &_red {
                background-image: linear-gradient(45deg, transparent 50%, #ce3530 50%),
                linear-gradient(-45deg, transparent 50%, #ce3530 50%);
            }
            &_orange {
                background-image: linear-gradient(45deg, transparent 50%, #e56a3b  50%),
                linear-gradient(-45deg, transparent 50%, #e56a3b 50%);
            }
            &_yellow {
                background-image: linear-gradient(45deg, transparent 50%, rgb(255, 200, 0) 50%),
                linear-gradient(-45deg, transparent 50%, rgb(255, 200, 0)  50%);
            }
            &_green {
                background-image: linear-gradient(45deg, transparent 50%, #36ae38 50%),
                linear-gradient(-45deg, transparent 50%,  #36ae38 50%);
            }
            &_white {
                background-image: linear-gradient(45deg, transparent 50%, rgb(238, 238, 238) 50%),
                linear-gradient(-45deg, transparent 50%, rgb(238, 238, 238)  50%);
            }
        }
        &__avatar {
            position: relative;
            border-radius: 100%;
            width: 11.25rem;
            height: 11.25rem;
            z-index: 3;
            background: $card-bg;
            &:not([src]) {
                content: "";
            }
        }
        &__string {
            position: relative;
            display: grid;
            grid-template-columns: 3fr 2fr;
            column-gap: 0.3125rem;
            font-size: 1.375rem;
            text-transform: uppercase;
            margin-bottom: 0.4375rem;
            &::before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                background-image: $stat-line-image;
                height: 1px;
                width: 100%;
            }
        }
        &__prefix {
            font-weight: 400;
        }
        &__postfix {
            justify-self: end;
            font-weight: 300;
        }
        &__stat-box {
            width: 84%;
        }
        &__alltime-box {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        &__avatar-box {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__avg {
            &-box {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
            &-title {
                font-size: $px20;
                text-align: center;
                margin-bottom: $px20;
                color: $secondary-color;
                font-weight: 300;
            }
        }
    }
}

.match {
    &__wrapper {
        width: 100%;
        font-size: $px16;
        transform-origin: top center;
    }
    &__item,
    &__item-titles {
        display: grid;
        grid-template-columns: 3fr 4fr 3fr 2fr 2fr 1fr 1fr 1fr 4fr 2fr;
        justify-items: center;
        align-items: center;
        padding: 0 $px10;
    }
    &__item-titles {
        margin-bottom: $px10;
        font-weight: 400;
        border-top: 1px solid $table-top-border-color;
        padding-top: $px10;
        color: $secondary-color;
    }
    &__item {        
        height: $px40;
        border-radius: $border-radius;
        margin-bottom: $px10;
        &:hover {
            cursor: pointer;
        }
    }
    &__win {
        background: $winner-match-bg;
    }
    &__lose {
        background: $loser-match-bg;
    }
}
.kd-high {
    color: #51df44;
}
.kd-low {
    color: #f27b72;
}
.kd-one,
.kd-low,
.kd-high {
    font-weight: 700;
}

.preview {
    display: flex;
    flex-direction: column;
    &__h1 {
        text-align: center;
        font-size: 2.8125rem;
        margin-bottom: $px60;
    }
    &__subtitle {
        font-size: $px30;
        font-weight: 300;
        margin-bottom: $px20;
    }
    &__list li {
        margin-bottom: $px10;
    }
    &__item {
        position: relative;
        font-size: $px20;
        font-weight: 400;
        letter-spacing: .02em;
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            background-image: $stat-line-image;
            height: 1px;
            width: 100%;
        }
    }
}