@import './variables.scss';

.preloader {
    &-wrapper {
        margin-top: 8rem;
        display: grid;
        place-items: center;
        width: 100%;
    }
    color: $white;
    animation: rotater 1s infinite;
    animation-timing-function: linear;
    padding: 0;
    margin: 0;
    font-size: $px70;
    transform-origin: center;
    line-height: 1;
    width: $px70;
    height: $px70;
}

@keyframes rotater {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}