@import './variables.scss';

.preloader {
    &-wrapper {
        display: grid;
        place-items: center;
        padding: 100px;
        width: 100%;
    }
    color: $white;
    animation: rotater 1s infinite;
    animation-timing-function: linear;
    padding: 0;
    margin: 0;
    font-size: 70px;
    transform-origin: center;
    line-height: 1;
    width: 70px;
    height: 70px;
}

@keyframes rotater {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}