@import './variables.scss';

.select {
	position: relative;
	background: transparent;
	width: 5rem;
	&-wrapper {
		display: flex;
		align-items: center;
		span {
			margin-right: $px10;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		width: 0;
		height: 0;
		right: $px10;
		bottom: 0;
		margin: auto;
		border-style: solid;
		border-width: $px5 $px5 0 $px5;
		border-color: $apple-blue transparent transparent transparent;
		pointer-events: none;
	}

	&:before {
		content: '';
		position: absolute;
		top: 1px;
		right: 1px;
		bottom: 1px;
		width: 1.5625rem;
		background: whitesmoke;
		border-top-right-radius: $px20;
		border-bottom-right-radius: $px20;
		border-left: 1px solid #ccc;
		transition: background .2s;
		pointer-events: none;
	}
	&:hover {
		&:before {
			background: #cfedff;
		}
	}
	select {
		font-size: 1.125rem;
		border: none;
		box-shadow: none;
		border-radius: 0;
		background: #fff;
		height: 30px;
		width: 100%;
		cursor: pointer;
		outline: none;
		padding-right: 2.1875rem;
		padding-left: 0.9375rem;
		border-radius: $px20;
		-moz-appearance: none;    
		-webkit-appearance: none;
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		} 
		&::-ms-expand {
			display: none;
		}      
		&:focus {  
			border-color: #63ffb4;    
		}
	}
}
  