@import './variables.scss';

.select {
	position: relative;
	background: transparent;
	width: 3rem;
	height: $px30;
	&-wrapper {
		display: flex;
		align-items: center;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		width: 0;
		height: 0;
		right: $px5;
		bottom: 0;
		margin: auto;
		border-style: solid;
		border-width: $px5 $px5 0 $px5;
		border-color: $btn-search-bg transparent transparent transparent;
		pointer-events: none;
	}
	&:hover {
		&:after {
			border-top-color: $btn-search-hover-bg;
		}
	}
	select {
		font-size: 1.125rem;
		border: none;
		box-shadow: none;
		border-radius: 0;
		background: transparent;
		height: $px30;
		width: 100%;
		cursor: pointer;
		outline: none;
		padding-left: 3px;
		color: $white;
		padding-left: 3px;
		text-decoration: underline;
		-moz-appearance: none;    
		-webkit-appearance: none;
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		} 
		&::-ms-expand {
			display: none;
		}      
		&:focus {  
			border-color: #63ffb4;    
		}
	}
}
  