$white: #fff;
$black: #000;
$apple-blue: rgb(3, 97, 204);

$btn-search-bg: rgb(38, 102, 199);

$header-border-color: #26282b;
$logo-gradient: linear-gradient(to right, #dd1141, #2666c7 70%);

$stat-line-image: linear-gradient(to right, #c72695b0, #2666c7 50%);

$main-bg-color: rgb(54, 57, 63);

$input-bg: rgb(235, 235, 235);
$input-placeholder-color: rgb(161, 161, 161);

$card-bg: #26282b;

$table-legends-color: rgb(161, 161, 161);
$table-top-border-color: rgb(92, 92, 92);

$win-match-image: linear-gradient(160deg, #178f68, #178f68ad 70%);
$win-match-bg: #066f35;
$lose-match-image: linear-gradient(160deg, #dd1141e0, #dd1141bf 70%);
$lose-match-bg: #710e0e;

$winner-match-bg: #3f634d;
$loser-match-bg: #633f3f;

$border-radius: 20px;

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popupmatches {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}
