$white: #fff;
$black: #000;
$apple-blue: rgb(3, 97, 204);

$btn-search-bg: rgb(38, 102, 199);
$secondary-color: rgb(145, 145, 145);

$header-border-color: #26282b;
$stat-line-image: linear-gradient(to right, #c72695b0, #2666c7 50%);

$main-bg-color: rgb(54, 57, 63);

$input-bg: rgb(235, 235, 235);
$input-placeholder-color: rgb(161, 161, 161);

$card-bg: #26282b;

$table-top-border-color: rgb(92, 92, 92);

// $win-match-image: linear-gradient(160deg, #178f68, #178f68ad 70%);
$win-match-bg: #066f35;
// $lose-match-image: linear-gradient(160deg, #dd1141e0, #dd1141bf 70%);
$lose-match-bg: #710e0e;

// $winner-match-bg: #3f634d;
$winner-match-bg: #415d61;
// $loser-match-bg: #633f3f;
$loser-match-bg: #683a49;

$px5: 0.3125rem;
$px10: 0.625rem;
$px14: 0.875rem;
$px15: 0.9375rem;
$px16: 1rem;
$px20: 1.25rem;
$px25: 1.5625rem;
$px30: 1.875rem;
$px40: 2.5rem;
$px50: 3.125rem;
$px60: 3.75rem;
$px70: 4.375rem;

$border-radius: $px20;

@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes popupmatches {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}
